* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  nav {
    width: 100%;
    background-color: #111;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }


  body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #3c4043;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
@media (max-width: 768px) {
  /* Адаптированные стили для мобильных устройств */
  
  body {
    flex-direction: column;
    padding: 10px;
  }

  .container {
    flex-direction: column;
    width: 100%;
  }

  .info {
    width: 100%;
    text-align: center;
  }

  .solar-system {
    width: 90%;
    height: auto;
  }

  .planet, .planet_Jupiter {
    width: 10px; /* или подходящий размер для мобильных устройств */
    height: 10px;
  }
}
